body
{
  overflow: hidden;
}
/******[BACKGROUND]******/
.head
{
  position: relative;
  text-align: center;
  top: 25px;
  font-family: 'Diplomata SC';
  font-size: 50px;
  color: white;
  text-decoration-color: blue;
  z-index: 1000;
}
.background_image
{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: -1;
}
#guy
{
  right: 0%;
}

/******[REGISTRATION FORM]******/
#registration_information
{
  background: rgb(196, 196, 196, 0.65);
  position: relative;
  margin-top: 5%;
  left: 35%;
  width: 30%;
}
.input_section
{
  position: relative;
  padding: 10px;
  width: 100%;
}
.user_input
{
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.title
{
  margin: 0px;
  padding: 0px;
}
.button
{
  text-align: center;
  position: relative;
  left: 40%;
  background-color: #822032;
  color: white;
  border-width: 0px;
  margin: 20px;
  width: auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
